---
import Layout from '@/layouts/Layout.astro';

const pageTitle = 'About';
const description = 'Aboutページの説明文です。';
const pageOgp = '/images/ogp/about/ogp.png';
---

<Layout
  pageTitle={pageTitle}
  description={description}
  pageOgp={pageOgp}>

  <h1>Aboutページです。</h1>

</Layout>