/**
* mixin
* 記述方法
*
* @use 'mixin';
*
* @include mixin.mobile {
*
* }
*/

$mobile: 959px;
$large: 960px;
$phone: 549px;

@mixin mobile {
  @media (max-width: ($mobile)) {
    @content;
  }
}

@mixin phone {
  @media (max-width: ($phone)) {
    @content;
  }
}

@mixin large {
  @media (min-width: ($large)) {
    @content;
  }
}

@mixin hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}