<footer class="footer">
  <a href="https://x.com/kameno_no3" target="_blank">X/Twitter</a>
  <a href="https://github.com/nono-k" target="_blank">GitHub</a>
</footer>

<style lang="scss">
  footer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    column-gap: 1rem;
    font-weight: 500;
  }
</style>