<footer class="footer">
  <p>Copyright © 2023</p>
</footer>

<style lang="scss">
  footer {
    padding: 2rem;
    background-color: #000;
    display: grid;
    place-items: center;
    color: #fff;
  }
</style>